#!/usr/bin/make -f

.PHONY: build binary binary-arch binary-indep clean get-orig-source

package  := $(shell sed -n 's/Package: \(.*\)/\1/p' debian/control)

CFLAGS   := $(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS  := $(shell dpkg-buildflags --get LDFLAGS)

build: build-arch

build-arch:
	$(checkdir)
	make CFLAGS="$(CFLAGS)" CXXFLAGS="$(CXXFLAGS) -fno-rtti" LDFLAGS="$(LDFLAGS)"

build-indep:

clean:
	$(checkdir)
	make clean
	-rm -rf debian/tmp debian/*~ debian/files* debian/substvars

install: checkroot build
	$(checkdir)
	rm -rf debian/tmp
	make install-full DESTDIR=./debian/tmp prefix=/usr mandir='$$(datadir)'/man package=id3mtag

binary: binary-arch

binary-indep: checkroot build	# do nothing

TMPPKGDOC=debian/tmp/usr/share/doc/$(package)

binary-arch: checkroot build install
	$(checkdir)
	install -d debian/tmp/DEBIAN
	gzip -9v debian/tmp/usr/share/man/man?/id3.?
	cp -a debian/copyright $(TMPPKGDOC)/.
	cp -a debian/changelog $(TMPPKGDOC)/changelog.Debian
	ln -s CHANGES.gz $(TMPPKGDOC)/changelog.gz
	rm -f $(TMPPKGDOC)/COPYING
	cd $(TMPPKGDOC) && gzip -9v CHANGES README changelog.Debian
	cd debian/tmp && md5sum `\
	  find -name DEBIAN -prune -or -type f -printf '%P\n'` > DEBIAN/md5sums
	dpkg-shlibdeps debian/tmp/usr/bin/*
	dpkg-gencontrol
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

define checkdir
	test -f main.cpp -a -f debian/rules
endef

checkroot:
	$(checkdir)
	test $$(id -u) = 0
